<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <script src="/js/script.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        td {
            padding: 10px;
            font-size: large;
        }

        iframe {
            border-radius: 10px;
            height: 300px;
            width: 100%;
        }

        .pendingResources {
            margin: 20px;
            border: 1px solid grey;
            border-radius: 10px;
            padding: 30px;
            text-align: center;
        }

        .card {
            margin: 20px;
            display: inline-block;
            border-radius: 10px;
            text-align: left;
        }

        .resourceHeading {
            color: grey;
        }

        .form-group {
            margin: 10px;
        }

        label {
            color: grey;
            margin-bottom: 5px;
        }

        .card-footer {
            text-align: center;
        }

        .inner-heading {
            border-bottom: 1px solid rgb(175, 175, 175);
        }

        .mainbody {
            padding-top: 100px;
        }

        .center-align-button,
        .buttons {
            text-align: center;
        }

        .btn-links {
            width: 20%;
            margin: 20px auto 20px auto;
        }

        .alert {
            width: 80%;
            margin: auto;
            text-align: center;
        }

        .circular-buffer {
            width: 40px;
            height: 40px;
            margin: auto;
            border-top: 2px solid black;
            border-radius: 100%;
            position: relative;
            animation: circularMove 0.5s linear infinite;
        }

        @keyframes circularMove {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg border-bottom border-body fixed-top"
        style="padding: 10px; background-color: white;">
        <div class="container-fluid">
            <img src="/images/Logo.png" alt="Logo" height="60px" width="220px">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav" style="margin-left: auto;">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/subject_catalog">Resources</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <%= user.name %>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <p class="dropdown-item disabled">ADMIN</p>
                            </li>
                            <li><a class="dropdown-item" onclick="logout()" style="cursor:pointer;">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="mainbody">
        <div id="message"></div>
        <div class="buttons">
            <a href="/subject_catalog"><button type="button" class="btn btn-outline-dark btn-links">View
                    Resources</button></a><br>
            <a href="/uploadResource"><button type="button" class="btn btn-outline-dark btn-links">Add
                    Resource</button></a>
        </div>
        <div class="pendingResources">
            <div class="inner-heading">
                <h3>Pending Contributions</h3>
                <h5>
                    <%= Object.keys(pending_resources).length %> Contributions Pending for Authorization
                </h5>
            </div>
            <% pending_resources.forEach(resources=> { %>
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= resources.subject_code %>
                        </h5>
                        <p class="card-text">
                            <%= resources.subject_name%>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="resourceHeading">File Name: </span>
                            <%= resources.file_name %>
                        </li>
                        <li class="list-group-item">
                            <span class="resourceHeading">Description: </span>
                            <%= resources.description %>
                        </li>
                        <li class="list-group-item">
                            <span class="resourceHeading">Contributed By: </span>
                            <%= resources.contributedBy %>
                        </li>
                        <li class="list-group-item">
                            <span class="resourceHeading">File Size: </span>
                            <%= resources.filesize %>
                        </li>
                        <li class="list-group-item">
                            <span class="resourceHeading">Contributed On:</span>
                            <%= (new Date(resources.createdAt)).toLocaleDateString('en-US', { year: 'numeric' ,
                                month: 'long' , day: 'numeric' }) %>
                        </li>
                    </ul>
                    <iframe src="/fetch_pendingfile/<%= resources._id %>" frameborder="0"></iframe>

                    <div class="modal fade" id="myModal<%= resources._id %>" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">Accept Contribution</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="acceptContributionForm" action="/acceptContribution" method="post"
                                        enctype="application/x-www-form-urlencoded">
                                        <div class="form-group">
                                            <label for="contributedBy">Contributed By</label><br>
                                            <input type="text" class="form-control" id="contributedBy"
                                                name="contributedBy" value="<%= resources.contributedBy %>"
                                                style="cursor: default;" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="_id">Resource Id</label>
                                            <input type="text" class="form-control" id="_id" name="_id"
                                                value="<%= resources._id %>" style="cursor: default;" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="subject_code">Subject Code</label>
                                            <input type="text" class="form-control" id="subject_code"
                                                name="subject_code" value="<%= resources.subject_code %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="subject_name">Subject Name</label>
                                            <input type="text" class="form-control" id="subject_name"
                                                name="subject_name" value="<%= resources.subject_name %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="file_name">File Name</label>
                                            <input type="text" class="form-control" id="file_name" name="file_name"
                                                value="<%= resources.file_name %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <input type="text" class="form-control" id="description" name="description"
                                                value="<%= resources.description %>">
                                        </div>
                                        <div class="center-align-button">
                                            <button type="submit" class="btn btn-success"
                                                id="acceptSubmit">Accept</button>
                                            <div class="circular-buffer" id="accept_circularbuffer"
                                                style="display: none;"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="myModalReject<%= resources._id %>" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">Reject Contribution</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="rejectContributionForm" action="/rejectContribution" method="post"
                                        enctype="application/x-www-form-urlencoded">
                                        <div class="form-group">
                                            <label for="contributedBy">Contributed By</label><br>
                                            <input type="text" class="form-control" id="contributedBy"
                                                name="contributedBy" value="<%= resources.contributedBy %>"
                                                style="cursor: default;" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="_id">Resource Id</label>
                                            <input type="text" class="form-control" id="_id" name="_id"
                                                value="<%= resources._id %>" style="cursor: default;" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="remarks">Reason</label>
                                            <input type="text" class="form-control" id="remarks" name="remarks"
                                                required>
                                        </div>
                                        <div class="center-align-button">
                                            <button type="submit" class="btn btn-danger"
                                                id="rejectSubmit">Reject</button>
                                            <div class="circular-buffer" id="reject_circularbuffer"
                                                style="display: none;"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="button" class="btn btn-outline-success" data-toggle="modal"
                            data-target="#myModal<%= resources._id %>">
                            Accept Contribution
                        </button>
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                            data-target="#myModalReject<%= resources._id %>">
                            Reject Contribution
                        </button>
                        <div class="card-body">
                            <a href="/download_pendingfile/<%= resources._id %>" download="filename"><button
                                    type="button" class="btn btn-outline-info">Download File</button></a>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        const message = sessionStorage.getItem('message');
        if (message) {
            const alertDiv = document.createElement("div");
            alertDiv.className = "alert alert-success alert-dismissible fade show";
            alertDiv.role = "alert";
            alertDiv.innerHTML = `${message}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
            document.getElementById("message").appendChild(alertDiv);
            sessionStorage.removeItem('message');
        }
        const warning = sessionStorage.getItem('warning');
        if (warning) {
            const alertDiv = document.createElement("div");
            alertDiv.className = "alert alert-warning alert-dismissible fade show";
            alertDiv.role = "alert";
            alertDiv.innerHTML = `${warning}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
            document.getElementById("message").appendChild(alertDiv);
            sessionStorage.removeItem('warning');
        }
        const error = sessionStorage.getItem('error');
        if (error) {
            const alertDiv = document.createElement("div");
            alertDiv.className = "alert alert-danger alert-dismissible fade show";
            alertDiv.role = "alert";
            alertDiv.innerHTML = `${error}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
            document.getElementById("message").appendChild(alertDiv);
            sessionStorage.removeItem('error');
        }
        document.getElementById("acceptContributionForm").addEventListener("submit", async function (event) {
            event.preventDefault();
            const formData = new FormData(event.target)
            document.getElementById("acceptSubmit").style.display = "none";
            document.getElementById("accept_circularbuffer").style.display = "block";
            try {
                const response = await fetch("/acceptContribution", {
                    method: "POST",
                    body: formData
                })
                const data = await response.json()
                if (response.ok) {
                    sessionStorage.setItem("message", data.message)
                    location.reload();
                }
                else {
                    sessionStorage.setItem('error', data.error);
                    location.reload();
                }
            } catch (error) {
                sessionStorage.setItem('error', "Error: Cannot send request to server");
                location.reload();
            }
        })
        document.getElementById("rejectContributionForm").addEventListener("submit", async function (event) {
            event.preventDefault();
            document.getElementById("rejectSubmit").style.display = "none";
            document.getElementById("reject_circularbuffer").style.display = "block";
            const formData = new FormData(event.target)
            try {
                const response = await fetch("/rejectContribution", {
                    method: "POST",
                    body: formData
                })
                const data = await response.json()
                if (response.ok) {
                    sessionStorage.setItem("message", data.message)
                    location.reload();
                }
                else {
                    sessionStorage.setItem('error', data.error);
                    location.reload();
                }
            } catch (error) {
                sessionStorage.setItem('error', "Error: Cannot Send Request");
                location.reload();
                console.log(error)
            }
        })
    </script>

</body>

</html>