<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Viewer</title>
    <script src="script.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <h4><%= subject_code %></h4>
        <h5><%= subject_name %></h5>
        <h5><%= file_name %></h5>
        <p><%= description %></p>
    </div>
    <a href="/downloadfile/<%= _id %>" download="filename">Download File</a><br>
    <iframe src="/fetchfile/<%= _id %>" id="pdfViewer" width="80%" height="800" frameborder="0"></iframe>
</body>
</html>