<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h2>Hello <%= user.name %></h2>
    <h3>Pending Contributions</h3> 
    <% pending_contributions.forEach(pending_contribution => { %>
        <div>
            <h4><%= pending_contribution.subject_code %></h4>
            <h4><%= pending_contribution.subject_name %></h4>
            <h4><%= pending_contribution.file_name %></h4>
            <h4><%= pending_contribution.description %></h4>
            <a href="/download_pendingfile/<%= pending_contribution._id %>" download="filename">Download File</a>
        </div>
    <% }) %>
    <h3>Approved Contributions</h3>
    <% approved_contributions.forEach(approved_contribution => { %>
        <div>
            <h4><%= approved_contribution.subject_code %></h4>
            <h4><%= approved_contribution.subject_name %></h4>
            <h4><%= approved_contribution.file_name %></h4>
            <h4><%= approved_contribution.description %></h4>
            <a href="/downloadfile/<%= approved_contribution._id %>" download="filename">Download File</a>
        </div>
    <% }) %>
    <h3>Rejected Contributions</h3>
    <% rejected_contributions.forEach(rejected_contribution => { %>
        <div>
            <h4><%= rejected_contribution.subject_code %></h4>
            <h4><%= rejected_contribution.subject_name %></h4>
            <h4><%= rejected_contribution.file_name %></h4>
            <h4><%= rejected_contribution.description %></h4>
            <h4><%= rejected_contribution.remarks %></h4>
        </div>
    <% }) %>
</body>
</html>